apiVersion: v1
kind: Service
metadata:
  name: query-api-service
  namespace: default
spec:
  selector:
    app: query-api
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
  type: LoadBalancer